@import "src/styles/variables";

$item-border: 1px solid grey;

.messages-actions-bar {
  padding: $min-padding;
}

.message-item {
  &:last-child {
    border-bottom: 1px solid $grid-border-color;
  }
  border-top: 1px solid $grid-border-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-name {
  padding-left: $min-padding;
}

.message-data {
  text-align: right;
  flex-grow: 1;
  color: grey;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
