<div class="messages-actions-bar">
  <button class="pull-right btn btn-outline-primary" (click)="onNewClick()">New</button>
</div>
<div class="message-items">
  <div *ngFor="let message of messages" class="message-item" (dblclick)="onSendMessageClick(message)">
    <div class="message-name">{{message?.name}}</div>
    <div class="message-data">
      <i *ngIf="message.type === 'string'">{{message?.data}}</i>
      <i *ngIf="message.type === 'file'">{{message?.data?.name}}</i>
    </div>
    <div ngbDropdown class="message-options">
      <div ngbDropdownToggle class="dropdown-trigger"><i class="fa fa-ellipsis-v"></i></div>
      <div ngbDropdownMenu>
        <button class="dropdown-item" (click)="onSendMessageClick(message)">Send</button>
        <button class="dropdown-item" (click)="onEditMessageClick(message)">Edit</button>
        <button class="dropdown-item" (click)="onDeleteMessageClick(message)">Delete</button>
      </div>
    </div>
  </div>
  <div style="margin: 5em 1em 0 1em; text-align: center" *ngIf="!messages || !messages.length">
    <i>Click&nbsp;</i><a href (click)="onNewClick()">New</a><i>&nbsp;to create stored messages.</i>
    <br>
    <br>
    <i>TIP: Double click a message to send to the client in the selected tab.</i>
  </div>
</div>


