@import "src/styles/variables";

$item-border: 1px solid grey;

.messages-actions-bar {
  padding: $min-padding;
}

.message-item {
  &:last-child {
    border-bottom: $item-border;
  }
  border-top: $item-border;
  padding: $min-padding;
}
