@import 'src/styles/variables';

app-message-log {
  padding: $min-padding;
}

.length-col {
  min-width: 4.5rem;
  text-align: right;
}

.dropdown-trigger {
  min-height: 0;
  height: inherit;
  line-height: 0;
}

.title {
  padding: $min-padding;
}

.table-body, .table-header {
  padding: $min-padding;
}

.table-body {
  height: 0;
}

.table-cell {
  padding: .1rem .3rem;
}

.table-header, .table-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #cdcdcd;
  align-items: center;
}

.time-col {
  min-width: 5.5rem;
  text-align: right;
}

.data-col {
  flex: 1;
}

.direction-col {
  max-width: 5rem;
  width: 5rem;
}
.actions-col {
  width: $min-button-height;
  text-align: center;
}
