@import "src/styles/variables";

.connection-actions-bar {
  padding: $min-padding;
}

.connection-item {
  &:last-child {
    border-bottom: 1px solid $grid-border-color;
  }
  border-top: 1px solid $grid-border-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.connection-text {
  flex-grow: 1;
  padding-left: $min-padding;
}
