<div class="connection-actions-bar clearfix">
  <button class="pull-right btn btn-outline-primary" (click)="onNewConnectionClick()">New</button>
</div>
<div class="connection-items">
  <div *ngFor="let connection of connections" class="connection-item" (dblclick)="onConnectClick(connection)">
    <div class="connection-name">{{connection?.name}}</div>
    <div class="connection-url"><i>{{connection?.url}}</i></div>
    <div ngbDropdown class="connection-options">
      <div ngbDropdownToggle class="dropdown-trigger"><i class="fa fa-ellipsis-v"></i></div>
      <div ngbDropdownMenu>
        <button class="dropdown-item" (click)="onDeleteConnectionClick(connection)">Delete</button>
        <button class="dropdown-item" (click)="onConnectClick(connection)">Connect</button>
      </div>
    </div>
  </div>
</div>

