<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Dismiss')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-group row">
      <label for="messageName" class="col-sm-2 col-form-label"><span class="pull-right">Name</span></label>
      <div class="col-sm-6">
        <input appFocus formControlName="name" type="text" class="form-control" id="messageName">
      </div>
      <label class="col-sm-2 col-form-label" for="stringify"><span class="pull-right">stringify</span></label>
      <div class="col-sm-2" class="stringify-container">
        <input id="stringify" type="checkbox" formControlName="stringify">
      </div>
    </div>
    <div class="form-group row">
      <label for="messageData" class="col-sm-2 col-form-label"><span class="pull-right">Data</span></label>
      <div class="col-sm-10">
        <textarea formControlName="data" type="text" class="form-control" id="messageData" rows="12"></textarea>
      </div>
    </div>
  </form>
  <div class="alert alert-danger" *ngIf="errors">{{errors}}</div>
</div>
<div class="modal-footer clearfix">
  <button type="button" class="pull-right btn btn-outline-primary" (click)="onSaveClick()">Save</button>
</div>
