<div class="client-pane">
  <ngb-tabset [activeId]="getActiveTabId()" (tabChange)="onTabChange($event)">
    <ngb-tab [id]="'client-tab-'+$index" *ngFor="let client of clients; let $index = index" class="tab">
      <ng-template ngbTabTitle>
        <i [style.color]="getConnectionStateColor(client)" class="fa fa-circle"></i>
        <span>{{client?.name}}</span>
        &nbsp;
        <i class="fa fa-times-circle" (click)="onTabCloseClick(client, $event)"></i>
      </ng-template>
      <ng-template ngbTabContent>
        <div class="client-tab-content">
          <div class="client-details">
            <div class="connection-state">{{getClientStateText(client)}}</div>
            <div class="connection-uptime">{{getClientUptime(client)}}</div>
            <div class="connection-actions">
              <button class="btn btn-primary" (click)="onDisconnectClick(client)" *ngIf="shouldShowDisconnect(client)">Disconnect</button>
              <button class="btn btn-primary" (click)="onConnectClick(client)" *ngIf="shouldShowConnect(client)">Connect</button>
            </div>
          </div>
          <div class="logs">
            <app-message-log class="message-log" [client]="client"></app-message-log>
          </div>
          <app-quick-send-bar class="quick-bar" [client]="client"></app-quick-send-bar>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>




