<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Dismiss')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-group row">
      <label for="connectionName" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-8">
        <input appFocus formControlName="name" type="text" class="form-control" id="connectionName">
      </div>
      <div class="col-sm-2 col-form-label">
        <i>Required</i>
      </div>
    </div>
    <div class="form-group row">
      <label for="connectionUrl" class="col-sm-2 col-form-label">URL</label>
      <div class="col-sm-8">
        <input formControlName="url" type="text" class="form-control" id="connectionUrl">
      </div>
      <div class="col-sm-2 col-form-label">
        <i>Required</i>
      </div>
    </div>
    <div class="form-group row">
      <label for="connectionProtocolString" class="col-sm-2 col-form-label">Protocol String</label>
      <div class="col-sm-8">
        <input formControlName="protocolString" type="text" class="form-control" id="connectionProtocolString">
      </div>
    </div>
  </form>
  <div class="alert alert-danger" *ngIf="errors">{{errors}}</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" (click)="onSaveClick()">Save</button>
</div>
