@import "src/styles/variables";

.server-actions-bar {
  padding: $min-padding;
}

.server-item {
  &:last-child {
    border-bottom: 1px solid $grid-border-color;
  }
  border-top: 1px solid $grid-border-color;
}

.server-item-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.server-item-proxy {
  padding: $min-padding;
}

.server-name {
  padding-left: $min-padding;
}

.server-url {
  text-align: right;
  flex-grow: 1;
  color: grey;
}
