@import 'src/styles/variables';

.quick-send-bar {
  border-top: $grid-border;
  padding: $min-padding;
  display: flex;
  align-content: center;
}

.validation-addon {
  text-align: center;
  min-width: 2.5rem;
  width: 2.5rem;
}

.validate-label {
  align-self: center;
  margin: 0 0 0 $min-padding;
}

.text-input {
  flex-grow: 1;
}
