<div class="quick-send-bar">
  <div class="input-group">
    <span class="input-group-addon" container="body" [ngbTooltip]="'Input must be valid json before message can be sent'">
      <label class="validate-label">
        JSON&nbsp;
        <input type="checkbox" [checked]="validate" (change)="validate = !validate">
      </label>
    </span>
    <input #input type="text" class="form-control text-input" [(ngModel)]="message" trigger="manual"
           (keydown.enter)="onEnterUp($event)"/>
    <span class="input-group-addon validation-addon" *ngIf="validate">
      <i class="fa" [ngbTooltip]="shouldShowValidationMessage() && validationMessage"
         [ngClass]="getValidationIcon()" [style.color]="getValidationColor()">
      </i>
    </span>
    <span class="input-group-btn">
      <button type="button" class="btn btn-primary" (click)="onSendClick($event)" [disabled]="isSendDisabled()">Send</button>
    </span>
  </div>
</div>
