@import 'src/styles/variables';

.quick-send-bar {
  border-top: $grid-border;
  padding: $min-padding;
  display: flex;
  align-content: center;
}

.stringify-label {
  align-self: center;
  margin: 0 0 0 $min-padding;
}

.text-input {
  flex-grow: 1;
}
