<div class="server-actions-bar clearfix">
  <button class="pull-right btn btn-outline-primary" (click)="onNewProxyClick()">New</button>
</div>
<div class="server-items">
  <div *ngFor="let proxy of proxies" class="server-item" (dblclick)="onListenClick(proxy)">
    <div class="server-name">{{proxy?.name}}</div>
    <div class="server-url"><i>{{proxy?.listenPort}}</i> -&gt; {{proxy.url}}</div>
    <div ngbDropdown class="server-options">
      <div ngbDropdownToggle class="dropdown-trigger"><i class="fa fa-ellipsis-v"></i></div>
      <div ngbDropdownMenu>
        <button class="dropdown-item" (click)="onListenClick(proxy)">Listen For Connections</button>
        <button class="dropdown-item" (click)="onEditProxyClick(proxy)">Edit</button>
        <button class="dropdown-item" (click)="onDeleteProxyClick(proxy)">Delete</button>
      </div>
    </div>
  </div>
</div>
