@import "bootstrap-overrides";
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/css/font-awesome.css";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

@mixin fill-parent-vertical() {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.nav.nav-tabs {
  margin-top: $min-padding;
}

.nav.nav-tabs > :first-child {
  margin-left: $min-padding;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-trigger {
  color: $primary;
  text-align: center;
  width: $min-button-height;
  height: $min-button-height;
  line-height: $min-button-height;
}

// Nasty Flex box stuff goes here, everything else should be encapsulated inside the component css
// TODO: Consider using `display: grid`
app-project-pane {
  height: 100%;
  display: flex;
  flex-direction: column;

  ul.nav-tabs {
    min-height: 2.25rem;
  }

  .tab-content {
    @include fill-parent-vertical();

    .tab-pane {
      @include fill-parent-vertical();

      app-servers-tab, app-messages-tab {
        @include fill-parent-vertical();

        .server-items, .message-items {
          flex-grow: 1;
          overflow-y: auto;
        }
      }
    }
  }
}

app-client-pane {
  ul.nav-tabs {
    min-height: 2.25rem;
  }

  height: 100%;
  display: flex;
  flex-direction: column;

  .client-pane {
    @include fill-parent-vertical();

    ngb-tabset {
      @include fill-parent-vertical();

      .tab-content {
        @include fill-parent-vertical();

        .tab-pane {
          @include fill-parent-vertical();

          .client-tab-content {
            @include fill-parent-vertical();

            .logs {
              flex-grow: 1;
              display: flex;

              app-message-log {
                flex: 1;
                @include fill-parent-vertical();
                .table-body-container {
                  overflow: auto;
                  @include fill-parent-vertical();
                }
              }
            }
            app-quick-send-bar {
              min-height: 2.25rem;
            }
          }
        }
      }
    }
  }
}

