<div class="project-title">
  <div class="title-text">{{currentProject?.name}}</div>
  <div ngbDropdown class="title-options">
    <div ngbDropdownToggle class="project-dropdown-trigger"><i class="fa fa-ellipsis-v"></i></div>
    <div ngbDropdownMenu>
      <button class="dropdown-item">New Project</button>
      <button class="dropdown-item" (click)="onDeleteProjectClick()">Delete Project</button>
    </div>
  </div>
</div>
<ngb-tabset class="tab-set">
  <ngb-tab title="Connections">
    <ng-template ngbTabContent>
      <app-connections-tab></app-connections-tab>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Messages">
    <ng-template ngbTabContent>
      <app-messages-tab></app-messages-tab>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
