@import 'src/styles/variables';
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";

$height: 2.25em;
$padding: $min-padding;

.tab-set {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.project-dropdown-trigger {
  color: $primary;
}

.project-title {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  height: $height;
  line-height: $height;
  min-height: $height;
  border-bottom: $grid-border;
}

.title-text {
  padding: 0 $padding;
  flex-grow: 1;
}

.title-options {
  text-align: center;
  width: $height;
}
